.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 520px;
}

.mainFriendContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  gap: 50px;
  padding-top: 30px;
}

.flexLook {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.title-friends {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  font-size: 65px;
}

.FriendVsFriend {
  font-size: 20px;
}

button {
  width: 150px;
  height: 40px;
  margin: auto;
}

.text-title-h3 {
  font-size: 37px;
  text-decoration: inherit;
}

.koniFriends {
  width: 200px;
  height: 10px;
}


.friend-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.friend-list {
  list-style: none;
  padding: 0;
}

.friend-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 20px;
}

.friend-name {
  flex-grow: 1;
  text-decoration: none;
  color: #333;
}

.delete-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.add-friend {
  gap: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.friend-input {
  width: 250px;
  padding: 5px;
  margin-right: 10px;
  background-color: #d5d6d8;
}

.add-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.puzzle-content-wrapper {
  display: flex;
  background-color: #b7c0d8;
  border-radius: 40px;
  width: 600px;
  box-shadow: 2px 2px 13px 2px rgba(0, 0, 0, 0.36);
  justify-content: space-around;
}

.no-friend-list {
  font-size: 25px;
}

.title-friend {
  text-align: center;
  font-size: 50px;
  margin: 0;
}

.avatar {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.friend-cards {
  display: flex;
  justify-content:space-around;
  padding: 10px;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
  max-width: 800px;
}

.friend-card{ 
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 5px;
  background-color: #b7c0d8;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 2px 2px 13px 2px rgba(0, 0, 0, 0.36);
}

.add-button {
  background-color: #272f36;
  color: #ebe3e3;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.custom-button{
  background-color: #272f36;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 10px;
  width: 70px;
}