.main-profile-container {
  display: flex;
  justify-content: space-evenly;
}

.info-container {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.profileContainer {
  margin: 0 20px 10px 220px;
  padding: 10px;
  display: flex;
  flex: auto;
  justify-content: left;
  border-radius: 10px;
  background-color: #e8edf9;
  border: 2px solid grey;
}

.games-history {
  margin: 10px 20px 0 220px;
  background-color: #e8edf9;
  border: none;
  border-radius: 10px;
  padding: 12px;
  border: 2px solid grey;
  /* width: 100%; */
}

.history-item {
  background-color: #e8edf9;
  list-style-type: none;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0px auto 10px auto;
  padding: 5px;
  width: 95%;
  font-size: 26px;
}

.friends-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #e8edf9;
  width: 25%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  gap: 10px;
  margin-right: 10px;
}

.friends-item {
  display: flex;
  justify-content: space-between;
  background-color: #e8edf9;
  list-style-type: none;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0px auto 0px auto;
  padding: 10px;
  width: 95%;
  font-size: 22px;
}

.friends-item:hover {
  border: 2px solid black;
}

.friends-link {
  display: flex;
}

.friend-info {
  display: flex;
  flex-direction: column;
}

.img-in-list {
  width: 50px;
  border-radius: 5px;
  margin-right: 20px;
}

.img-wrapper {
  width: 100%;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#profileImage {
  width: 100%;
  border-radius: 5px;
}

.profileChangeName {
  align-items: center;
}

.btn-edit-user {
  border: none;
  width: 40px;
  background-color: #e8edf9;
}

.btn-edit-user img {
  width: 100%;
}

.btn-edit-user :hover {
  cursor: pointer;
  transform: scale(1.1);
}

.profileSubDiv {
  display: flex;
  flex-direction: column;
  margin: 0px 10px 5px 10px;
  width: 50%;
}

#user-name {
  font-size: 30px;
  transition: font-size 0.3s ease;
}

#user-rating {
  font-size: 20px;
  transition: font-size 0.3s ease;
}

.statsDiv {
  border: 2px solid gray;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  transition: font-size 0.3s ease;
}

.statsDiv p {
  margin: 5px;
}

@media (max-width: 820px) {
  .profileContainer {
    flex-direction: column;
    align-items: center;
    transition: font-size 0.3s ease;
    margin-left: 160px;
  }

  #profileImage {
    /* width: 150px; */
    align-self: center;
  }
  #user-name {
    font-size: 24px;
    transition: font-size 0.3s ease;
  }
  #user-rating {
    font-size: 18px;
    transition: font-size 0.3s ease;
  }

  .statsDiv {
    font-size: 18px;
    transition: font-size 0.3s ease;
  }
}
