.chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e8edf9;
  padding: 10px;
  padding-bottom: 100px;
  height: 90% !important;
}

.chat__main {
  width: 80%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.message__container {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
