.chat-body {
  width: 417px !important;
  overflow: hidden !important;
  /* overflow-y: scroll !important; */
  border-top-right-radius: 10px;
}

.message__container {
  overflow: hidden !important;
  overflow-y: scroll !important;
  height: 500px !important;
  width: 100% !important;
}
